extends layout 

block content 
  .intro-box 
      h1 JacSafari's & Tour
      p Making your tour and vacation filled with adventures, Travel with us see the highest <br> peek  point of  Africa lemmi say it again "OF AFRICA" and the lowest point at AFRICA
      a.Enjoy-button(href="#") Enjoy the World  