extends layout 


block content 
    div.mainService-box(style='background-image:url(public/img/service);')
        h1.openText HOSPITALITY YOU NEVER FELT <br/> BEFORE AND FIVE STAR SERVICES
        p#serviceP WE OFFER WORLD CLASS ADVENTURE 